<!DOCTYPE html>
<html lang="es">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="/static/icon/favicon.ico"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/errors/error_at_get.css"
    />

    <title><%= title %></title>
  </head>

  <body>
    <div id="bg-img"></div>

    <div class="wrapper">
      <header>
        <h1>Beraka Galería</h1>
        <p>GET-ERROR</p>
      </header>

      <main>
        <section>
          <h2>La ruta <% route %> no existe...</h2>
          <p>Uh- no tenemos tu cono favorito y la máquina dio un error-404 :c</p>
        </section>
      </main>
    </div>
  </body>
</html>
